button {
    margin: 0.2rem;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.optionBar {
    background-color: whitesmoke;
}

.visualizeWrapper {
    width: 70%;
    margin: 5px auto;
}